 /* Base styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  img {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  /* Navigation Container */
  .nav_container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  /* Nav Bar */
  .nav_bar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo */
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    font-family: 'Brush Script MT', cursive;

  }
  
  .logo span {
    color: orangered;
  }
  
  /* Links */
  .navigation_bar {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .links {
    display: flex;
    gap: 2rem;
  }
  
  .links li a {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .links li a:hover {
    color: orange;
  }
  
  /* CDN Icons and Button */
  .cdn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .cdn i {
    color: white;
    font-size: 1.5rem;
  }
  
  .cdn i:hover {
    color: orange;
    cursor: pointer;
  }
  
  .cdn button {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
  }
  
  /* Burger */
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .burger span {
    height: 3px;
    width: 25px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    padding-top: 60px;
  }
  
  .img-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    margin: 0 20px;
  }
  
  .content h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-left: -150%;
  }
  
  .content p {
    font-size: 1rem;
    margin-left: -119%;
  
  }
  
  .content button {
    background-color: orange;
    color: white;
    padding: 15px 40px;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-left: -60%;
  
  }
